* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

header {
    position: fixed;
    width: 100%;
    height: 122px;
    background-color: rgb(246, 245, 239);
    border-top: 2px solid #000;
    box-shadow: black 0 -1px 1px -1px inset;
}

header .header_inner {
    position: relative;
    margin: 0 164px;
    height: 120px;
}

header #logo {
    float: left;
}


a {
    color: #333;
    text-decoration: none;
    text-align: center;
    font: normal 13px Avenir, Arial, georgia;
}

a:hover {
    text-decoration: underline;
}

nav {
    float: right;
}

/* .nav_util {
    background-color: violet;
}

.nav_main {
    background-color: aqua;
} */

ul, li {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav_util li{
    float: left;
    padding: 5px 15px;
}

.nav_main li {
    padding-left: 20px;
}

#logo img{
    width: auto;
    height: auto;
    max-width: 75px;
    max-height: 75px;
}

#btn-search {
    position: absolute;
    width: 34px;
    height: 34px;
    border: 1px solid darkgray;
    border-radius: 20%;
    background-color: white;
    top: 5px;
    right: 0px;
}

.box {
    width: auto;
    font-size: 25px;
    height: 1500px;
    background-color: antiquewhite;
}