* {
    box-sizing: border-box;
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    height: 120px;
    background-color: rgb(246, 245, 239);
    border-top: 2px solid #000;
    border-bottom: 1px solid #e5e5e5;;
}

header .header_inner {
    position: relative;
    width: 70%;
    height: 120px;
    margin: 0 auto;
    text-align: center;
}

header #logo img{
    position: absolute;
    left: 0;
    width: auto;
    height: auto;
    max-width: 75px;
    max-height: 75px;
}

a {
    color: #333;
    text-decoration: none;
    text-align: center;
    font: normal 13px Avenir, Arial, georgia;
}

a:hover {
    text-decoration: underline;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

li {
    display: inline-block;
}

.nav_util {
    position: relative;
    float: right;
    top: 12px;
    width: 564px;
    height: 20px;
}

.nav_util_items {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.nav_main {
    position: relative;
    float: right;
    top: 40px;
    width: 70%;
    height: 66px;
}

.nav_main_items {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

#btn-search {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    width: 32px;
    height: 32px;
}

#btn-search img {
    position: relative;
    top: 5px;
}

#logo {
    position: absolute;
    top: 22px;
}